{% extends 'base.html' %}

{% block content %}

    {% load static %}


    <!-- Banner start -->
    <div class="banner" id="banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner banner-slider-inner text-center">
                <div class="carousel-item banner-max-height active item-bg">
                    <img class="d-block w-100 h-100" src="{% static 'img/arco-elefante-pantelleria.jpg' %}"
                         alt="banner">
                    <div class="carousel-content container banner-info-2 bi-2 text-left">
                        <h3>Wow Factor Standard</h3>
                        <h5>Allow us to guide you through the innovative stress<br>
                            free approach in finding your dream car.</h5>
                        <a href="{% url 'services' %}" class="btn btn-lg btn-theme"
                           style="background: #007bff; border: solid 1px #007bff;">Read more</a>
                    </div>
                </div>
                <div class="carousel-item banner-max-height item-bg">
                    <img class="d-block w-100 h-100" src="{% static 'img/sentiero-specchio-di-venere-1024x720.jpg' %}"
                         alt="banner">
                    <div class="carousel-content container banner-info-2 bi-2 text-left">
                        <h3>Explore Your Dream Car</h3>
                        <h5>Allow us to guide you through the innovative stress<br>
                            free approach in finding your dream car.</h5>
                        <a href="{% url 'services' %}" class="btn btn-lg btn-theme"
                           style="background: #007bff; border: solid 1px #007bff;">Read more</a>
                    </div>
                </div>
                <div class="carousel-item banner-max-height item-bg">
                    <img class="d-block w-100 h-100" src="{% static 'img/car-3.jpg' %}" alt="banner">
                    <div class="carousel-content container banner-info-2 bi-2 text-left">
                        <h3>We Are Wheel</h3>
                        <h5>Allow us to guide you through the innovative stress<br>
                            free approach in finding your dream car.</h5>
                        <a href="{% url 'services' %}" class="btn btn-lg btn-theme"
                           style="background: #007bff; border: solid 1px #007bff;">Read more</a>
                    </div>
                </div>
            </div>
            <!-- Search box 3 start -->
            <div class="search-box-4 sb-8">
                <form action="{% url 'car_search' %}" method="get">
                    <div class="form-group">
                        <label for="category">Categoria</label>
                        <select class="form-control search-fields" name="category">
                            <option disabled {% if not request.GET.category %} selected {% endif %}>Category</option>
                            {% for cat in categories %}
                                <option value="{{ cat.name }}" {% if request.GET.category == cat.name %}
                                        selected {% endif %}>
                                    {{ cat.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="model">Modello</label>
                        <select class="form-control search-fields" name="model">
                            <option disabled {% if not request.GET.model %} selected {% endif %}>Model</option>
                            {% for model in models %}
                                <option value="{{ model }}" {% if request.GET.model == model %} selected {% endif %}>
                                    {{ model }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="start_date">Data inizio</label>
                            <input type="date" class="form-control" name="start_date" id="start_date"
                                   value="{{ request.GET.start_date }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="end_date">Data fine</label>
                            <input type="date" class="form-control" name="end_date" id="end_date"
                                   value="{{ request.GET.end_date }}">
                        </div>
                    </div>
                    <div class="range-slider clearfix">


                        <label>Price</label>
                        <div data-min="0" data-max="200" data-min-name="min_price" data-max-name="max_price"
                             data-unit="€" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <button class="btn search-button" style="background: #007bff">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </form>
            </div>
            <!-- Search box 3 end -->
            <a class="carousel-control-prev none-580" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="slider-mover-left" aria-hidden="true">
                <i class="fa fa-angle-left"></i>
            </span>
            </a>
            <a class="carousel-control-next none-580" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="slider-mover-right" aria-hidden="true">
                <i class="fa fa-angle-right"></i>
            </span>
            </a>
        </div>
    </div>
    <!-- Banner end -->

    <!-- Auto in Sconto -->
    <div class="featured-car content-area-5">
        <div class="container">
            <div class="main-title">
                <h1>Auto <span style="color:#007bff">Scontate</span></h1>
                <p>Approfitta delle offerte disponibili!</p>
            </div>
            <div class="slick-slider-area clearfix">
                <div class="row slick-carousel"
                     data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>

                    {% for car in discounted_cars %}
                        <div class="slick-slide-item h-100">
                            <div class="car-box-3">
                                <div class="car-thumbnail">
                                    <a href="{% url 'car_details' car.id %}" class="car-img">
                                        <a href="{% url 'car_details' car.id %}" class="car-img">
                                            <div class="tag-2 bg-success">Sconto</div>
                                            <div class="price-box">
                                                <span class="del" style="color: #fff"><del>{{ car.price_per_day }}€</del></span>
                                                <br>
                                                <span style="color: #28a745; font-weight: 1000; font-size: 20px">{{ car.get_discounted_price|floatformat:2 }}€</span>
                                            </div>
                                            <img class="d-block w-100" src="{{ car.image_principal.url|add:'?c_fill,w_750,h_500'  }}" alt="car">
                                        </a>
                                        <div class="carbox-overlap-wrapper">
                                            <div class="overlap-box">
                                                <div class="overlap-btns-area">
                                                    <div class="car-magnify-gallery">
                                                        <!-- Immagine principale -->
                                                        <a href="{{ car.image_principal.url }}" class="overlap-btn">
                                                            <i class="fa fa-expand"></i>
                                                            <img class="hidden" src="{{ car.image_principal.url|add:'?c_fill,w_750,h_500'  }}"
                                                                 alt="{{ car.model }}">
                                                        </a>
                                                        <!-- Immagini secondarie -->
                                                        {% for img in car.gallery.all %}
                                                            <a href="{{ img.image.url }}" class="hidden">
                                                                <img class="hidden" src="{{ img.image.url|add:'?c_fill,w_750,h_500' }}" alt="">
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <a href="{% url 'car_details' car.id %}">
                                    <div class="detail">
                                        <h1 class="title">
                                            {{ membro.model }}
                                        </h1>
                                        <div class="location" style="margin-bottom: 25px">
                                            <i class="flaticon-pin"></i> {{ car.location }}
                                        </div>
                                        <ul class="facilities-list clearfix">
                                            <li>{{ car.fuel_type }}</li>
                                            <li>{{ car.gearbox }}</li>
                                            <li>{{ car.category }}</li>
                                            <li>{{ car.color }}</li>
                                        </ul>
                                    </div>
                                </a>
                                <div class="widget advanced-search2" style="padding-top: 10px">
                                    <a class="btn btn-primary d-block mx-auto search-button" style="background: #00aced"
                                       href="{% url 'create_booking' %}?car={{ car.id }}">
                                        Prenota ora
                                    </a>
                                </div>

                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center text-muted">Nessuna auto scontata al momento.</p>
                    {% endfor %}

                </div>

                <div class="slick-btn">
                    <div class="slick-prev slick-arrow-buton sab-4" style="color: #007bff"><i
                            class="fa fa-angle-left"></i></div>
                    <div class="slick-next slick-arrow-buton sab-3" style="color: #007bff"><i
                            class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Rent car start -->
    <div class="featured-car content-area">
        <div class="container">
            <!-- Main title -->
            <div class="main-title">
                <h1>Ultime <span style="color:#007bff">Auto Aggiunte</span></h1>
                <p>Scopri gli ultimi arrivi nel nostro parco auto.</p>
            </div>
            <div class="row">
                <div class="row slick-carousel"
                     data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                    {% for car in latest_cars %}
                        <div class="slick-slide-item h-100">
                            <div class="car-box-3">
                                <div class="car-thumbnail">
                                    <a href="{% url 'car_details' car.id %}" class="car-img">
                                        <a href="{% url 'car_details' car.id %}" class="car-img">
                                            {% if car.discount_active %}
                                                <div class="tag-2 bg-success">Sconto</div>
                                                <div class="price-box">
                                                    <span class="del" style="color: #fff"><del>{{ car.price_per_day }}€</del></span>
                                                    <br>
                                                    <span style="color: #28a745; font-weight: 1000; font-size: 20px">{{ car.get_discounted_price|floatformat:2 }}€</span>
                                                </div>
                                            {% else %}
                                                <div class="price-box">
                                                    <span>{{ car.price_per_day }}€</span>
                                                </div>
                                            {% endif %}
                                            <img class="d-block w-100" src="{{ car.image_principal.url|add:'?c_fill,w_750,h_500'  }}" alt="car">
                                        </a>
                                        <div class="carbox-overlap-wrapper">
                                            <div class="overlap-box">
                                                <div class="overlap-btns-area">
                                                    <div class="car-magnify-gallery">
                                                        <!-- Immagine principale -->
                                                        <a href="{{ car.image_principal.url }}" class="overlap-btn">
                                                            <i class="fa fa-expand"></i>
                                                            <img class="hidden" src="{{ car.image_principal.url|add:'?c_fill,w_750,h_500'  }}"
                                                                 alt="{{ car.model }}">
                                                        </a>
                                                        <!-- Immagini secondarie -->
                                                        {% for img in car.gallery.all %}
                                                            <a href="{{ img.image.url }}" class="hidden">
                                                                <img class="hidden" src="{{ img.image.url|add:'?c_fill,w_750,h_500' }}" alt="">
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <a href="{% url 'car_details' car.id %}">
                                <div class="detail">
                                    <h1 class="title">
                                        {{ car.model }}
                                    </h1>
                                    <div class="location" style="margin-bottom: 25px">
                                        <i class="flaticon-pin"></i> {{ car.location }}
                                    </div>
                                    <ul class="facilities-list clearfix">
                                        <li>{{ car.fuel_type }}</li>
                                        <li>{{ car.gearbox }}</li>
                                        <li>{{ car.category }}</li>
                                        <li>{{ car.color }}</li>
                                    </ul>
                                </div>
                            </a>
                                <div class="widget advanced-search2" style="padding-top: 10px">
                                    <a class="btn btn-danger d-block mx-auto search-button" style="background: #00aced"
                                       href="{% url 'create_booking' %}?car={{ car.id }}">
                                        Prenota ora
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Rent car end -->


    {% include "pages/team_card.html" %}

    <!-- Intro section start -->
    <div class="intro-section" style="background: #00aced">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <div class="intro-text">
                        <h3>Do You Have Questions ?</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <a href="{% url 'contact' %}" class="btn btn-md">Get in Touch</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Intro section end -->
    <style>
        .slick-slide-item {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .car-box-3 {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .car-thumbnail {
            height: 200px; /* imposta l'altezza delle immagini come vuoi */
            overflow: hidden;
        }

        .car-thumbnail img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .detail {
            min-height: 200px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .ui-slider .ui-slider-range {
            background: #007bff !important;
        }

        /* Cambia il colore del cursore (handle) */
        .ui-slider .ui-slider-handle {
            border-color: #007bff !important;
            background: #007bff !important;
        }

        .slick-arrow-buton:hover {
            background: #007bff;
            color: white !important;
        }


    </style>

{% endblock %}