{% extends 'base.html' %}

{% block content %}

    {% load static %}


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NX5VQP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>

    <!-- Sub banner start -->
    <div class="sub-banner overview-bgi">
        <div class="container breadcrumb-area">
            <div class="breadcrumb-areas">
                <h1>Our Car Inventory</h1>
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="active">Cars</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->

    <!-- Featured car start -->
    <div class="featured-car content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">

                    <div class="row">
                        {% for membro in page_obj %}
                            <div class="col-lg-6 col-md-6">
                                <div class="car-box-3">
                                    <div class="car-thumbnail">
                                        <a href="{% url 'car_details' membro.id %}" class="car-img">
                                            <!--<div class="tag">For Rent</div>
                                            <div class="price-box">
                                                <span>$780.00</span>
                                            </div>-->
                                            <img class="d-block w-100" src="{{ membro.image_principal.url }}" alt="car">
                                        </a>
                                        <div class="carbox-overlap-wrapper">
                                            <div class="overlap-box">
                                                <div class="overlap-btns-area">
                                                    <div class="car-magnify-gallery">
                                                        <a href="{{ membro.image_principal.url }}" class="overlap-btn">
                                                            <i class="fa fa-expand"></i>
                                                            <img class="hidden" src="{{ membro.image_principal.url }}">

                                                        </a>
                                                        {% for img in membro.gallery.all %}
                                                            <a href="{{ img.image.url }}" class="hidden">
                                                                <img class="hidden" src="{{ img.image.url }}" alt="">
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'car_details' membro.id %}">
                                        <div class="detail">
                                            <h1 class="title">
                                                {{ membro.model }}
                                            </h1>
                                            <div class="location">
                                                <i class="flaticon-pin"></i>{{ membro.location }}
                                            </div>
                                            <ul class="facilities-list clearfix">
                                                <li>{{ membro.gearbox }}</li>
                                                <li>{{ membro.fuel_type }}</li>
                                                {% if membro.air_conditioning %}
                                                    <li>Aria condizionata</li>
                                                {% endif %}
                                                <li>{{ membro.color }}</li>
                                            </ul>
                                        </div>
                                    </a>
                                    {% if is_admin %}
                                        <hr class="my-3">
                                        <div class="widget advanced-search2">
                                                <a class="btn btn-danger d-block mx-auto search-button"
                                                   href="{% url 'edit_car' car_id=membro.pk %}">
                                                    Modifica
                                                </a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Page navigation start -->
                    <div class="pagination-box p-box-2 text-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-right">
                        <!-- Advanced search start -->
                        <div class="widget advanced-search2">
                            <h3 class="sidebar-title">Search your desire car</h3>
                            <form action="{% url 'car_search' %}" method="get">
                                <div class="form-group">
                                    <select class="form-control search-fields" name="model">
                                        <option disabled {% if not request.GET.model %} selected {% endif %}>Model
                                        </option>
                                        {% for model in models %}
                                            <option value="{{ model }}" {% if request.GET.model == model %}
                                                    selected {% endif %}>
                                                {{ model }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control search-fields" name="location">
                                        <option disabled selected>Location</option>
                                        {% for key, label in locations.items %}
                                            <option value="{{ key }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control search-fields" name="gearbox">
                                        <option disabled selected>Gearbox</option>
                                        {% for key, label in gearboxes.items %}
                                            <option value="{{ key }}">{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="range-slider clearfix">
                                    <label>Price</label>
                                    <div data-min="0" data-max="100" data-min-name="min_price" data-max-name="max_price"
                                         data-unit="€" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="form-group mb-0">
                                    <button class="search-button btn">Search</button>
                                </div>
                            </form>
                        </div>

                        <!-- Question start -->
                        <div class="widget question widget-3">
                            <h5 class="sidebar-title">Follow us</h5>
                            <div class="social-list clearfix">
                                <ul>
                                    <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                    <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% if is_admin %}
                        <div class="sidebar-right">
                            <div class="widget advanced-search2">
                                <div class="mb-4 text-end">
                                    <a href="{% url 'add_car' %}" class="btn search-button btn-success d-block mx-auto">
                                        <i class="fa fa-plus me-1"></i> Aggiungi nuova macchina
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Featured car end -->


{% endblock %}